<nz-layout class="layout">
  <nz-header>
    <div class="logo">天气系统</div>
    <div class="rightSide">
      <span  nz-icon nzType="reddit" nzTheme="outline" class="gptLogo" nz-popover nzPopoverTitle="GPT查询（城市：{{cityName}}）" [nzPopoverContent]="gptWeatherTemplate" nzTrigger="click">
      </span>
    <div nz-popover nzPopoverTitle="我的收藏（用户ID：{{userId}}）" [nzPopoverContent]="favoritesTemplate" nzTrigger="hover" class="login-status">
      {{ userId ? userName: '未登录' }}
      <!-- 这里需要实现获取用户名称的逻辑 -->
    </div>
  </div>
    
  </nz-header>
  <nz-content>
    <div class="weather-search-container">
      <div class="coordinates-search-module">
        <h2>经纬度查询</h2>
        <input nz-input placeholder="请输入城市名称" [(ngModel)]="cityName" />
        <button nz-button (click)="getWeatherForCity(cityName)">查询</button>
        <nz-card nzTitle="经纬度信息:[{{cityName}}]" >
          <div ng-container *ngIf="isLoading else showLocation">
            <p>Loading......</p>
          </div>

         
         <ng-template #showLocation>
          <p>城市：{{weather?.cityInfo.name}}</p>
          <p>ID：{{weather?.cityInfo.id}}</p>
          <p>经度：{{weather?.cityInfo.latitude}}</p>
          <p>纬度：{{weather?.cityInfo.longitude}}</p>
          <p>国家：{{weather?.cityInfo.countryCode}}</p>
          <button nz-button (click)="addToUserFavorites(userId!,weather?.cityInfo.id)">收藏</button> <!--(click)="addToUserFavorites(userId,cityId)" --> 
         </ng-template>
        </nz-card>
      </div>
      <nz-divider></nz-divider>
      <div class="weather-results-module">
        <h2>天气查询</h2>
        <nz-card>
          <p>城市: {{ cityName }}</p>
          <div ng-container *ngIf="isLoading else showWeather">
            <p>Loading......</p>
          </div>
          <ng-template #showWeather>
            <p>当前温度：{{ weather?.weatherInfo.current.temperature_2m}}{{weather?.weatherInfo.current_units.temperature_2m}}</p>
            <p>当前风速：{{ weather?.weatherInfo.current.wind_speed_10m}}{{weather?.weatherInfo.current_units.wind_speed_10m}}</p></ng-template>
          <!-- 可以在这里添加更多的天气信息显示 -->
        </nz-card>
      </div>
    </div>
  </nz-content>
</nz-layout>

<ng-template #favoritesTemplate>
  <ul *ngIf="favoriteCities?.length; else noFavorites">
    <li *ngFor="let city of favoriteCities" id="liStyle">
      {{ city.name }}
      <button nz-button nzType="primary" nzDanger (click)="removeFromUserFavorites(userId!,city.id)">删除</button>
      <nz-divider></nz-divider>
    </li>

  </ul>
  <ng-template #noFavorites>
    暂无收藏城市
  </ng-template>
</ng-template>
<ng-template #gptWeatherTemplate>
  <div >
    <nz-comment nzAuthor="GPT" *ngIf="gptAnswer; else noGPTResults">
      <nz-avatar
        nz-comment-avatar
        nzIcon="user"
        nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      ></nz-avatar>
      <nz-comment-content>
        <p>
         {{gptAnswer}}
        </p>
      </nz-comment-content>
    </nz-comment>
  </div>
</ng-template>
<ng-template #noGPTResults>
  <button nz-button nzType="primary" (click)="askGPT3(cityName)">
    <span nz-icon nzType="search"></span>
    使用GPT查找{{cityName}}
  </button>
</ng-template>

<!-- 示例的错误消息容器
<div *ngIf="this。message" class="error-message">
  {{ errorMessage }}
</div> -->